{% extends 'base.html' %}
{% block content %}

<h1>Game Page</h1>
<hr />
{% comment %} TBD optional game page reset {% endcomment %}
<a href="{% url 'game' %}" type="submit" class="btn">Play Again</a>
<a href="{% url 'results' %}" type="submit" class="btn">End Game</a>



{% comment %} JS Script to allow toogle hide answers {% endcomment %}

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    };
    function hide(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    };
</script>


{% comment %} Question1 and answer {% endcomment %}

<div class="card" id="card1" style="display: block">
    <a href="#" onclick="toggle_visibility('a1'); hide('card2'); hide('card3'); hide('card4');">
        <div class="card-content">
            <span class="card-title">Loop</span>
            <p>for player in players</p>
            <p class="second-line">if player.age > 41</p>
        </div>
    </a>
</div>
<div id="a1" style="display: none">
    {% for player in players %}
        {% if player.age > 41 %}
            <p> {{ player.name }} </p>
        {% endif %}
    {% endfor %}
</div>

{% comment %} Question2 and answer {% endcomment %}

<div class="card" id="card2" style="display: block">
    <a href="#" onclick="toggle_visibility('a2'); hide('card1'); hide('card3'); hide('card4');">
        <div class="card-content">
            <span class="card-title">Loop</span>
            <p>for player in players</p>
            <p class="second-line">if player.age > 60</p>
        </div>
    </a>
</div>
<div id="a2" style="display: none">
    {% for player in players %}
        {% if player.age > 60 %}
            <p> {{ player.name }} </p>
        {% endif %}
    {% endfor %}
</div>

{% comment %} Question3 and answer {% endcomment %}

<div class="card" id="card3" style="display: block">
    <a href="#" onclick="toggle_visibility('a3'); hide('card1'); hide('card2'); hide('card4');">
        <div class="card-content">
            <span class="card-title">Favorite Color loop</span>
            <p>for player in players</p>
            <p class="second-line">if player.color == 'blue'</p>
        </div>
    </a>
</div>
<div id="a3" style="display: none">
    {% for player in players %}
        {% if player.color == 'blue' %}
            <p> {{ player.name }} </p>
        {% endif %}
    {% endfor %}
</div>

{% comment %} Question4 and answer {% endcomment %}

<div class="card" id="card4" style="display: block">
    <a href="#" onclick="toggle_visibility('a4'); hide('card1'); hide('card2'); hide('card3');">
        <div class="card-content">
            <span class="card-title">Loop</span>
            <p>for player in players</p>
            <p class="second-line">if player.age > 60</p>
        </div>
    </a>
</div>
<div id="a4" style="display: none">
    {% for player in players %}
        {% if player.age > 60 %}
            <p> {{ player.name }} </p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}