{% extends 'base.html' %}
{% block content %}

<h1>Player Details</h1>
<hr />

<div class="card">
  <div class="card-content" id="card-font">
    <span class="card-title">{{ player.name }}</span>
    <p>Age: {{ player.age }}</p>
    <p>Favorite Color: {{ player.color }}</p>
    <p>Description: {{ player.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'players_update' player.id %}">Edit</a>
    <a href="{% url 'players_delete' player.id %}">Delete</a>
  </div>
</div>

{% endblock %}