{% extends 'base.html' %}
{% block content %}

<h1>Player List</h1>
<a href="{% url 'game' %}" type="submit" class="btn">Start Game</a>

{% for player in players %}
    <div class="card">
        <a href='/players/{{ player.id }}'>
            <div class="card-content">
                <span class="card-title">{{ player.name }}</span>
                <p>Breed: {{ player.breed }}</p>
                <p>Description: {{ player.description }}</p>
                {% if player.age > 0 %}
                    <p>Age: {{ player.age }}</p>
                {% else %}
                    <p>Age: Kitten</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}