{% extends 'base.html' %}
{% block content %}

<h1>Player List</h1>
<hr />
<a href="{% url 'game' %}" class="btn">Start Game</a>

{% for player in players %}
    <div class="card">
        <a href='/players/{{ player.id }}'>
            <div class="card-content" id="card-font">
                <span class="card-title">{{ player.name }}</span>
                <p>Age: {{ player.age }}</p>
                <p>Favorite Color: {{ player.color }}</p>
                <p>Description: {{ player.description }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}